@import "tailwindcss";

@theme {
  --breakpoint-3xl: 1680px;
  --breakpoint-4xl: 1920px;
  --breakpoint-5xl: 2200px;
  --breakpoint-6xl: 2560px;
  --breakpoint-7xl: 3200px;
  --breakpoint-8xl: 3840px;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f172a;
  color: #e2e8f0;
}
